<div class="d-flex justify-content-center mt-5">
    <form [formGroup]="myForm" (ngSubmit)="onLogin()" class="w-50">
        <h1 class="text-center">Login form</h1>
        <input type="text" formControlName="email" class="form-control" placeholder="Enter email" email>
        <div *ngIf="fControl['email'].touched && fControl['email'].errors?.['required']" class="text-danger">Email
            is required</div>
        <div *ngIf="fControl['email'].touched && fControl['email'].errors?.['email']" class="text-danger">Email
            is not valid</div>
        <input type="password" formControlName="password" class="form-control mt-3" placeholder="Enter password">
        <div *ngIf="fControl['password'].touched && fControl['password'].errors?.['required']" class="text-danger">Password is required</div>
        <div *ngIf="fControl['password'].touched && fControl['password'].errors?.['minlength']" class="text-danger">Minimum 6 character required</div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Login</button>
        </div>
    </form>
</div>