<div class="container-xl px-4 mt-4">
    <div class="row m-0 p-0">
        <div class="col-sm-3 col-lg-3 col-md-4 col-sm-8">
            <div class="">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">{{userProfile?.fName}} {{userProfile?.lName}}</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" src="{{userProfile?.image}}" alt="Profile photo">
                        <!-- Profile picture help block-->
                        <!-- <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 2 MB</div> -->
                        <!-- Profile picture upload button-->
                        <!-- <button class="btn btn-primary" type="button">Upload new image</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9  col-lg-8 col-md-8 col-sm-4">
            <div class="">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="d-flex justify-content-between  card-header">
                        <div class="mt-2">Account Details</div>
                        <button class="btn btn-danger" routerLink="/customer/dashboard">Back <i class="fas fa-backward me-1"> </i></button>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input class="form-control" formControlName="fName" type="text" placeholder="Enter your first name" [value]="userProfile?.fName">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input class="form-control" formControlName="lName" type="text" placeholder="Enter your last name" [value]="userProfile?.lName">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputAddress">Address</label>
                                <input class="form-control" type="text" formControlName="address" placeholder="Enter your address" [value]="userProfile?.address">
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputOrgName">Pincode</label>
                                    <input class="form-control" type="number" formControlName="pincode" placeholder="Enter your pincode" [value]="userProfile?.pincode">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">Mobile</label>
                                    <input class="form-control" type="text" formControlName="mobile" placeholder="Enter your mobile number" [value]="userProfile?.mobile">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" type="email" placeholder="Enter your email address" disabled value="{{userProfile?.email}}">
                            </div>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </form>
                        <!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                            <input type="text" formControlName="fName" class="form-control" placeholder="Enter ">
                            <input type="text" formControlName="lName" class="form-control" placeholder="Enter ">
                            <input type="text" formControlName="address" class="form-control" placeholder="Enter ">
                            <input type="text" formControlName="pincode" class="form-control" placeholder="Enter ">
                            <input type="text" formControlName="mobile" class="form-control" placeholder="Enter ">
                            <input type="text"  class="form-control" placeholder="Enter " value="{{userProfile?.email}}">
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>