
<div class="container-fluid d-flex flex-wrap">
<div class="row custom-card m-3" *ngFor="let product of allProducts">
    <div class="col-sm-4 p-0">
        <img class="card-img-top" src="../../../assets/product2.jpeg" alt="Product image">
    </div>
    <div class="col-sm-8 mt-3">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">{{product.price | currency:'INR'}}</p>
        
        <a href="#" class="btn btn-primary" [routerLink]="['/customer/product-details/'+product.productId]">View more</a>
        <!-- <a href="#" class="btn btn-outline-primary ms-2" (click)="addToCart()">Add to cart</a> -->
        <a class="btn btn-outline-primary ms-2" (click)="addToCart(product.productId)" >Add to cart</a>
    </div>
</div>

    <!-- <ng-container >
        <div class="row m-0 p-0 custom-card m-2">
            <div class="col-sm-4 custom-image p-0">
                <img class="card-img-top" src="../../../assets/product2.jpeg" alt="Product image">
            </div>
            <div class="col-sm-8 mt-2">

            </div>
        </div>

    </ng-container> -->
    
</div>