.card{
    width: 60rem;
    border-radius: 12px;
}
.custom-image img{
    height: 150px;
    width: 150px;
}
.c-form-control{
    width: 8%;
}
.text-blue{
    color: rgb(75, 152, 224);
}
.cursor-pointer{
    cursor:pointer;
}
.c-empty-cart img{
    height: 300px;
    width: 350px;
}