<div class="d-flex justify-content-center mt-5">
    <form [formGroup]="myForm" (ngSubmit)="signUp()" class="w-50">
        <h1 class="text-center">Sign up form</h1>
        <div class="d-flex justify-content-between">
            <input type="text" formControlName="fName" class="form-control mt-3 c-w-50" placeholder="Enter firstName">
            <input type="text" formControlName="lName" class="form-control mt-3 c-w-50" placeholder="Enter lastName">
        </div>
        <!-- <label for="gender">Select gender : </label> &nbsp; -->
        <!-- <input type="radio" name="gender" value="male">Male 
        <input type="radio" name="gender" value="female">Female -->
        <input type="text" formControlName="address" class="form-control mt-3" placeholder="Enter address">
        <div class="d-flex justify-content-between">
            <input type="number" formControlName="pincode" class="form-control mt-3 c-w-50" placeholder="Enter pincode">
            <input type="tel" formControlName="mobile" class="form-control mt-3 c-w-50" placeholder="Enter mobile number">
        </div>
        <input type="text" formControlName="email" class="form-control mt-3" placeholder="Enter email" email>
        <div *ngIf="fControl['email'].touched && fControl['email'].errors?.['required']" class="text-danger">Email
            is required</div>
        <div *ngIf="fControl['email'].touched && fControl['email'].errors?.['email']" class="text-danger">Email
            is not valid</div>
        <input type="password" formControlName="password" class="form-control mt-3" placeholder="Enter password">
        <div *ngIf="fControl['password'].touched && fControl['password'].errors?.['required']" class="text-danger">Password is required</div>
        <div *ngIf="fControl['password'].touched && fControl['password'].errors?.['minlength']" class="text-danger">Minimum 6 character required</div>
        <a routerLink="login">Already have an account ? login now</a>
        <!-- <input type="text" formControlName="mobile" class="form-control mt-3" placeholder="Enter Mobile"> -->
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Create Account</button>
        </div>
    </form>
</div>