<div class="container-fluid p-5">
    <div class="card">
        <div class="row c-row m-0 p-3">
            <div class="col-sm-4 p-0 c-product-image">
                <img class="card-img-top" src="{{productService.productDetails?.image}}" alt="Product Image">
            </div>
            <div class="col-sm-8">
                <!-- <div class="d-flex justify-content-between p-3 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/customer/dashboard']">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Product</li>
                        </ol>
                    </nav>
                    <p>share <i class="text-muted fas fa-share"></i></p>
                </div> -->
                <div class="card-body mt-0">
                    <h1 class="card-title">{{productService.productDetails?.title || ''}}</h1>
                    <p class="card-text text-muted">{{productService.productDetails?.price | currency:'INR' || ''}}</p>
                    <p>Product details:</p>
                    <li class="card-text text-muted">{{productService.productDetails?.description || ''}}</li>
                    <button class="btn btn-primary" (click)="addToCart(finalProductDetails.productId)">Add to
                        cart</button>
                    <button class="btn btn-danger ms-2" routerLink="/customer/dashboard"><i
                            class="fas fa-backward me-1"></i>Back</button>
                </div>
                    <div class="row m-0 p-0">
                        <div class="col-sm-6">
                            <textarea class="form-control c-height-form-control" placeholder="Enter your review about {{productService.productDetails?.title}}" #review></textarea>
                        </div>
                        <div class="col-sm-3">
                            <!-- <input type="number" class="form-control c-height-form-control" placeholder="Rating out of 5" #stars max="5"> -->
                            <select #stars class="form-control">
                                <option disabled selected>  Select Rating </option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-sm-3"> 
                            <button class="btn btn-primary ms-2 c-height-form-control" (click)="submitReview(review.value,stars.value)">Add review</button>
                        </div>
                    </div>
                    <ng-container *ngFor="let review of productReviews">
                    <div class="card mt-3 c-scroll">
                            <div class="card-header">
                                    <i class="fas fa-star" *ngFor="let star of review?.stars" [ngClass]="{'text-primary':review?.stars.length>3,'text-danger':review?.stars.length<3,'text-warning':review?.stars.length==3}"></i>
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p class="c-font-size">{{review?.review}}</p>
                                    <footer class="blockquote-footer text-end c-font-size">{{review?.userName}}</footer>
                                </blockquote>
                            </div>
                        </div>
                    </ng-container>
            </div>
        </div>
    </div>
</div>