/* You can add global styles to this file, and also import other style files */
body {
  background-image: linear-gradient(to right, #8e9eab, #eef2f3);
}
.styled-button {
  background-image: linear-gradient(to right, #8e9eab, #eef2f3);
}
.custom-card-radius {
  border-radius: 15px;
}
.custom-card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-button-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.custom-button-radius {
  border: none;
  border-radius: 7px;
}
